TZ=Asia/Kolkata
# Generate with: openssl rand -base64 48
ADMIN_TOKEN=PASTE_LONG_RANDOM_TOKEN_HERE
# The URL you'll access it at (update when you add HTTPS/Tailscale)
DOMAIN=http://<hostip>:8083 
#DOMAIN=https://pi5lab.local:8083 #Update protocol https used TLS
